@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/ptsans-400.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/ptsans-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
html{
    box-sizing: border-box;
    background-color: rgb(203, 204, 204);
}
*, *::before, *::after{
    box-sizing: inherit;
}
.wrapper{
    max-width: 1200px;
    max-height: 64px;
    margin: 0 auto;
    background-color: #FFFFFF;
}
body{
    font-family: 'PT Sans';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #000000;
    
}
.header__wrapper, .user-menu, .Frame-4, .header-logo, .favorites{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    
}
.header__wrapper{
    position: fixed;
    background-color: #FFFFFF;
    width: 1200px;
    height: 64px;
    margin: 0 auto;
}
.header-logo-src{
    display: flex;
    flex-wrap: wrap;
    margin-left: 70px;
}
.menu{
    display: flex;
    flex-wrap: wrap;
}
.menu-item {
    margin-right: 32px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    display: inline-block;
    position: relative;
}  
.menu-item:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px; 
}
.menu-item:after {
    margin-top: 16px;
}
      
.menu-item:hover:after{
    background: #756257;
}
.header-nav{
    margin-left: 44px;
}
.button-text{
    margin-right: 70px;
    margin-left: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 50px;
    background: #756157;
    border-radius: 4px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.search{
    height: 20px;
    width: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 22px 12px;
    width: 44px;
    height: 64px;
}
.favorites{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 22px 12px;
    isolation: isolate;
    width: 44px;
    height: 64px;
}
.favorites-logo-heart-src{
    display: flex;
    flex-direction: column;
}
.favorites-logo-figure-src{
    position: absolute;
    margin-bottom: 11px;
    margin-left: 20px;
}
.hero{
    padding-top: 64px;
    margin: 0 auto;
    max-width: 1200px;
    height: 767px;
    background-color: #FFFFFF;
}
.hero-welcome{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
    height: 485px;
    background-color: #FFFFFF;
    background-image: url(../img/index-background.jpg);
    margin-top: 0 auto;
}
.hero-divider{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
    height: 57px;
    margin-top: -57px;
}
.welcome-img{
    margin-top: -33px;
}
a{
    text-decoration: none !important;
    color: #000000;
}
.bacground{
    max-width: 1200px;
    background: #ffffff;
    height: 261px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 69px 0px;
    gap: 25px;
}
.bacground h2{
 
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
}
.bacground p{
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #333333;
}
.main-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    max-width: 1200px;
    max-height: 1155px;
    margin: 0 auto;
    background-color: #FFFFFF;
}
.№1{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    max-width: 1200px;
    max-height: 385px;
}
.Advantages{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 103px 85px;
    gap: 10px;
    width: 400px;
    height: 385px;
    background: #82B3D3;
}
.Texts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 30px;
    width: 230px;
    height: 181px;
}
.Advantages-h3{
    width: 175px;
    height: 56px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.Rectangle{
    width: 60px;
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
    flex: none;
    flex-grow: 0;
}
.Advantages p{
    width: 230px;
    height: 63px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}
.Frame-41{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    width: 1200px;
    height: 385px;
}
.№3{
    width: 400px;
    height: 385px;
}
.№4{
    width: 400px;
    height: 385px;
}
.№5{
    width: 400px;
    height: 385px;
}
.Advantages1, .Advantages3,.Advantages2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 113px 85px;
    gap: 10px;
    background: rgba(131, 179, 211, 0.12);
}
.Texts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 30px;
    width: 230px;
    height: 160px;
}
.Advantages2{
    background: rgba(131, 179, 211, 0.2);
}
.Advantages1-h3{width: 175px;
    height: 56px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}
.Rectangle-1256{
    width: 60px;
    height: 2px;
    background: rgba(0, 0, 0, 0.3);
    flex: none;
    flex-grow: 0;
}
.p-Texts{
    width: 230px;
    height: 42px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #333333;
}
.№2{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    width: 1200px;
    height: 385px;
}
.photo-2-img{
    width: 800px;
    height: 385px;
}
.Advantages4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 102px 85px;
    gap: 10px;
    width: 400px;
    height: 385px;
    background: #82B3D3;
}
.Texts2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 30px;
    width: 230px;
    height: 181px;
}
.Advantages4-h3{
    width: 175px;
    height: 56px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;  
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.Rectangle-125{
    width: 60px;
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
    flex: none;
    flex-grow: 0;
}
.p-Texts2{
    width: 230px;
    height: 63px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}
.Frame-36{
    max-width: 1200px;
    max-height: 246px;
    margin: 0 auto;
    background-color: #FFFFFF;
    padding: 64px 0px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Frame-36-h2{
    width: 505px;
    height: 72px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}
.Frame-36-p{
    width: 490px;
    height: 26px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #333333;
}
.Frame-40{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    margin: 0 auto;
    width: 1200px;
    height: 385px;
    background-color: #FFFFFF;
}
.housing, .food, .Souvenirs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 102px 85px;
    gap: 10px;
    width: 400px;
    height: 385px;
}
.Advantages-housing, .Advantages-housing2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 112px 85px;
    gap: 10px;
    background: rgba(131, 179, 211, 0.12);
}
.Advantages-housing2{
    background-color: #FFFFFF;
}
.Advantages-housing-h3{
    width: 230px;
    height: 28px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}
.Advantages-housing-p{
    width: 230px;
    height: 63px; 
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #333333;
}
.Hotel-search{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 96px 304px;
    gap: 10px;
    margin: 0 auto;
    width: 1200px;
    height: 406px;
    background: #FFFFFF;
}
.Frame-32{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 54px;
    width: 592px;
    height: 214px;
}
.Frame-31{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 20px;
    width: 592px;
    height: 108px;
}
.button-hotel-search{

    width: 376px;
    height: 52px;
}
.hotel-search-button{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 50px;
    gap: 10px;
    
  
    /* Buttons/basic */
    
    background: #756157;
    border-radius: 4px;
}
.Hotel-search-h2{
    width: 297px;
    height: 36px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}
.Hotel-search-p{
    width: 592px;
    height: 52px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #333333;
    }
.Hotel-p{
    width: 276px;
    height: 36px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    }
    .Subscribe{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding: 96px 258px 104px;
    gap: 10px;
    width: 1200px;
    height: 414.86px;
    background: url(../img/index-background.jpg);/*GIVE ME PHOTO!*/
    background-repeat: no-repeat;
    margin: 0 auto;
    }
.Subscribe-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 54px;
    width: 684px;
    height: 214.86px;
}
.Frame-29{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 20px;
    width: 475px;
    height: 108.86px;
}
.Frame-29-h2{
    width: 404px;
    height: 36.35px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.Frame-29-p{
    width: 475px;
    height: 52.51px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
}

.Frame-25{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    width: 684px;
    height: 52px;
}
.input{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 20px;
    gap: 260px;
    width: 452px;
    height: 52px;
    background: #F2F2F2;
    border-radius: 4px 0px 0px 4px;
}
.button-subscribe{
    width: 232px;
    height: 52px;
    background-image: url(../img/Button.svg);
    border: none;
    border-radius: 0px 4px 4px 0px;;
}
.mail{
    width: 87px;
    height: 24px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #000000;
    opacity: 0.6;
}
footer{
    width: 1200px;
    height: 120px;
    background: #FFFFFF;
    margin: 0 auto;
}
.Frame-12{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 30px;
    padding-left: 70px;
    padding-right: 70px;
    gap: 40px;
}
.Frame-5{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    width: 142px;
    height: 40px;
}
.social-vk{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
    gap: 10px;
    
    width: 47.33px;
    height: 40px;
}
.social-telegram{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1px 10px;
    gap: 10px;
    width: 47.33px;
    height: 40px;
}
.social-youtube{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
    gap: 10px;
    width: 47.33px;
    height: 40px;
}
.Social{
    width: 24px;
    height: 14px;
}
.Social2{
    width: 18px;
    height: 16px;
}
.Social3{
    width: 22px;
    height: 17px;
}
.number{

    width: 720px;
    height: 50px;
}
address{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.number-p{
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}
.logo_htmlacademy{
    width: 115px;
    height: 33px;
}
.logo-html{
    
}
